.gcpa[type="video"] .gcpq {
  	align-self: flex-end;
	height: 160px;
	margin-right: 32px;
	width: 160px;
	background-size: contain;
}
.gcpa .gcpe{
	width:80%;
}

.logo {
  background-image: url(vcast.png);
}